
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;1,900&display=swap');*/

.* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins',sans-serif;*/
}

.label {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

.required {
    font-size: 1rem;
    font-weight: bold;
    color: red;
}

.form-control {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    border: 1px solid #000;
    color: #000;
}

    .form-control:focus {
        box-shadow: none !important;
        border: 2px solid #D48 !important;
        outline: none;
        color: #000;
    }

.divider span {
    width: 100%;
    border: 1px solid #000;
}
/* -- CARD BODY --*/
.card {
    margin: 1rem;
    box-shadow: 0 15px 30px hsl(210deg 50% 50%);
    background: #D3D3E0;
}

.card-body .row .col-md-4 {
    padding-top: 1rem;
}

.card-body .divider {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.card-header {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .card-header h5 {
        margin-left: 1rem;
        margin-top: .5rem;
    }
/* -- END CARD BODY --*/


/*CHECK BOX*/

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-right: .4rem;
}

.chkScanQR {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*BUTTONS*/
/*.button-group {
    display: flex;
    justify-content: space-around;
}*/

.action-button {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin: .25rem;
    height: 40px;
}

/*CHANGE MODEL BUTTON */
.change-model {
    color: #fff;
    background: #212121;
    border: none;
    outline: none;
}

    .change-model:hover {
        color: #fff;
        background: #595959;
        border: none;
        outline: none;
    }

/* UPDATE BUTTON */
.update {
    color: #fff;
    background: #004AB3;
    border: none;
    outline: none;
    width: 100px;
}

    .update:hover {
        color: #fff;
        background: #438AF0;
        border: none;
        outline: none;
    }

/* SAVE BUTTON */
.save {
    color: #fff;
    background: #007A00;
    border: none;
    outline: none;
    width: 100px;
}

    .save:hover {
        color: #fff;
        background: #269E26;
        border: none;
        outline: none;
    }

.btn-print {
    color: #000;
    background: #E6D627;
    border: none;
    outline: none;
    width: 200px;
    font-size: 1rem;
}

    .btn-print:hover {
        color: #000;
        background: #E6DB63;
        border: none;
        outline: none;
        width: 200px;
        font-size: 1rem;
    }

.btnAddData {
    width: 25%;
}
/* END BUTTONS */


/* -- FILTER --*/
.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.filter-button {
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: .5rem;
    outline: none;
    width: 100px;
    height: 50px;
    background: #625B63;
    color: #fff;
}

.search-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}
/* -- END FILTER --*/

/*-- TABLE --*/
/* TABLE */
.bottle-assy-table thead {
    font-weight: 400;
    text-transform: uppercase;
    background: #8982A1;
    text-align: center;
}

    .bottle-assy-table thead th {
        border: 1px solid #5E575E;
    }

.bottle-assy-table tbody {
    background: #fff;
    text-align: center;
}

    .bottle-assy-table tbody td {
        border: 1px solid #5E575E;
    }

.bottle-table thead, .shrink-film-table thead {
    text-transform: uppercase;
    background: #00ADBD;
}

/*-- END TABLE --*/

/* -- SHIFT -- */
.shift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day-shift {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FF9900;
    padding: .5rem;
    height: 40px;
}

.night-shift {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2E3033;
    color: #fff;
    padding: .5rem;
    height: 40px;
}

/* -- CURING MACHINE --*/
.curing-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.curing-a {
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #00A8C9;
    padding: .5rem;
    height: 40px;
    width: 100px;
}

.curing-b {
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #DB3EB1;
    padding: .5rem;
    height: 40px;
    width: 100px;
}

.curing-c {
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E6DB63;
    padding: .5rem;
    height: 40px;
    width: 100px;
}
/* -- END LEGEND --*/
